page-home {

  .moodImg {
     width: 200px;
     height: 150px;
  }


  .scroll {
     height: 100%
   }

  .hidden {
     display: none;
  }

  #map {
     width: 100%;
     height: 100%;
     position: inherit !important;
  }

}
