page-home {

  .moodImg {
     width: 150px;
     height: 100px;
  }

   .LogoImg {
       width: 250;
       height: 200px;
    }

     .Logo2Img {
           width: 100;
           height: 50px;
        }


  .scroll {
     height: 100%
   }

  .hidden {
     display: none;
  }

  #map {
     width: 100%;
     height: 100%;
     position: inherit !important;
  }

}
